## Assignment

Load the dataset into a pandas dataframe. Name the variable as “survey”.

In [1]:
import numpy as np
import pandas as pd

In [2]:
survey = pd.read_excel("Sample Survey.xlsx", sheet_name='Data', index_col = 0)
survey.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6867 entries, 1 to 6867
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   collection_date   6867 non-null   datetime64[ns]
 1   urban_rural       6867 non-null   object
 2   education         6867 non-null   object
 3   income            6867 non-null   object
 4   Vote_Now          6867 non-null   object
 5   Past_Vote         6867 non-null   object
 6   CM_satisfaction   6867 non-null   object
 7   MLA_satisfaction  6867 non-null   object
 8   age               6867 non-null   int64
 9   gender            6867 non-null   object
 10  assembly_no       6867 non-null   int64
 11  category          6867 non-null   object
 12  weight            6867 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 751.1+ KB

How many samples were collected on each day?

In [3]:
survey.pivot_table(index = 'collection_date', aggfunc = 'size')

collection_date
2020-08-24    1479
2020-08-25     998
2020-08-26     598
2020-08-27     665
2020-08-28     761
2020-08-29     620
2020-08-30     582
2020-08-31     557
2020-09-01     607
dtype: int64

What proportion of the total respondents were aged less than 45?

In [4]:
survey['age'] = pd.to_numeric(survey['age'])

In [5]:
age = survey['age'].to_numpy()
count = (age >45).sum()
print("Count of repondants less than 45 is:", count )

Count of repondants less than 45 is: 386

Create a new column in the dataframe “age_group”. This column should contain the age
group the respondent belongs to. The age groups are 18-25, 25-40, 40-55 and 55+. The
dataframe should look like this after the column creation:

In [6]:
bins = [17, 25, 40, 55, np.inf]
lab = ['18-25','25-40','40-55', '55+']
survey['age_group'] = pd.cut(survey['age'], bins=bins, labels=lab)

In [7]:
new_df = survey[['age','age_group']].copy()
new_df.head()

             age age_group
response_id
1             26     25-40
2             34     25-40
3             25     18-25
4             36     25-40
5             22     18-25

How many samples were collected for each age-group? Which age-group had the most
samples?

In [8]:
sample_count = new_df.pivot_table(index = 'age_group', aggfunc = 'size')
sample_count

age_group
18-25    2692
25-40    3423
40-55     644
55+       108
dtype: int64

In [9]:
print("Age-group having most samples: 25-40 having:", sample_count.max())

Age-group having most samples: 25-40 having: 3423

What proportion of the respondents had opted for the RJD party in both the Vote_Now
and the Past_Vote questions?

In [10]:
repont = (survey[['Vote_Now', 'Past_Vote']] == "RJD").sum().min()
print("Num of Respondents opting for the RJD party in Vote_Now and Past_Vote are:", repont)

Num of Respondents opting for the RJD party in Vote_Now and Past_Vote are: 1047

For each day of sample collection, determine the proportion of respondents who were
fully satisfied with the performance of the CM. So if there were a total of 1000 samples
on day 1 and 300 out of those said they were fully satisfied, then our answer for that day
would be 0.3.

In [11]:
Total_satisfy = (survey['CM_satisfaction'] == 'Fully Satisfied').sum()

In [12]:
Total_satisfy

721

Create a pivot-table (or crosstab) with index as Past_Vote, Column as Vote_Now and
cell values as the count of samples.

In [13]:
new_tab = survey.pivot_table(index = 'Past_Vote', columns = 'Vote_Now', aggfunc='size')

In [14]:
new_tab

Vote_Now,AAP,AIMIM,BJP,BSP,HAM,INC,JAP(L),JD(U),LJP,Left Front,NOTA,Others,Plurals,RJD,RJJP,RLSP,Undecided,VIP
Past_Vote,,,,,,,,,,,,,,,,,,
BJP,7.0,1.0,1630.0,3.0,5.0,42.0,101.0,110.0,44.0,13.0,194.0,32.0,87.0,370.0,88.0,24.0,62.0,10.0
BSP,NaN,1.0,2.0,5.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Did not vote,8.0,5.0,231.0,2.0,1.0,22.0,41.0,69.0,10.0,16.0,83.0,11.0,51.0,195.0,20.0,3.0,31.0,5.0
HAM,2.0,NaN,25.0,NaN,1.0,NaN,3.0,2.0,2.0,NaN,4.0,NaN,NaN,6.0,4.0,NaN,1.0,NaN
INC,NaN,6.0,6.0,NaN,NaN,57.0,10.0,9.0,NaN,3.0,6.0,3.0,3.0,100.0,1.0,2.0,7.0,NaN
JAP(L),NaN,NaN,4.0,NaN,NaN,NaN,35.0,NaN,NaN,NaN,NaN,1.0,NaN,2.0,NaN,NaN,NaN,NaN
JD(U),6.0,10.0,254.0,2.0,2.0,45.0,72.0,279.0,29.0,9.0,90.0,18.0,43.0,435.0,13.0,25.0,36.0,6.0
LJP,NaN,NaN,76.0,1.0,NaN,4.0,3.0,6.0,9.0,2.0,3.0,NaN,2.0,17.0,1.0,NaN,1.0,NaN
Left Front,NaN,1.0,2.0,NaN,NaN,1.0,NaN,NaN,NaN,18.0,1.0,1.0,NaN,4.0,NaN,1.0,NaN,1.0
NOTA,NaN,1.0,29.0,1.0,NaN,9.0,7.0,7.0,3.0,5.0,46.0,7.0,11.0,27.0,5.0,4.0,5.0,NaN
Others,1.0,5.0,45.0,1.0,1.0,4.0,7.0,4.0,1.0,4.0,10.0,6.0,8.0,21.0,7.0,1.0,6.0,NaN
RJD,3.0,7.0,46.0,NaN,1.0,31.0,31.0,39.0,4.0,9.0,18.0,8.0,10.0,811.0,1.0,10.0,14.0,4.0
RLSP,NaN,NaN,17.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,3.0,NaN,2.0,8.0,2.0,12.0,1.0,1.0
VIP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

Repeat the above question with the cell values as the sum of “weight”.

In [15]:
new_tab1 = survey.pivot_table(values = 'weight', index = 'Past_Vote', columns = 'Vote_Now', aggfunc = 'sum')

In [16]:
new_tab1

Vote_Now,AAP,AIMIM,BJP,BSP,HAM,INC,JAP(L),JD(U),LJP,Left Front,NOTA,Others,Plurals,RJD,RJJP,RLSP,Undecided,VIP
Past_Vote,,,,,,,,,,,,,,,,,,
BJP,4.807335,0.349996,1049.344112,0.452551,10.171283,50.055502,63.832368,68.029581,45.716215,7.537394,114.913686,8.790137,50.016163,250.948101,16.047570,18.715113,41.286954,18.691691
BSP,NaN,1.654731,5.174487,32.010277,NaN,2.298223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Did not vote,8.865896,5.379527,114.203906,3.329611,2.497170,27.791290,26.359190,58.983458,11.801813,13.050113,44.725179,7.289933,25.319524,173.882525,4.349832,5.041587,22.015457,10.696552
HAM,0.312607,NaN,25.348884,NaN,1.648856,NaN,0.712161,1.006719,2.496424,NaN,0.928984,NaN,NaN,7.713008,1.903148,NaN,0.039564,NaN
INC,NaN,11.105958,1.642875,NaN,NaN,161.742302,18.942597,11.077323,NaN,6.268726,5.999014,1.552038,1.588527,195.020050,5.340403,1.140299,8.558475,NaN
JAP(L),NaN,NaN,6.512846,NaN,NaN,NaN,57.876224,NaN,NaN,NaN,NaN,3.195682,NaN,2.164824,NaN,NaN,NaN,NaN
JD(U),12.457216,29.198610,156.243100,11.005903,2.639574,91.806261,106.217216,498.796862,33.148113,11.765603,61.109706,29.196072,45.175289,657.155514,4.015909,44.376194,58.137833,20.675288
LJP,NaN,NaN,85.010450,2.481377,NaN,21.613385,7.375946,11.382812,26.868529,1.712452,0.813171,NaN,1.927965,30.737989,0.478933,NaN,1.709409,NaN
Left Front,NaN,2.298223,0.209586,NaN,NaN,2.291368,NaN,NaN,NaN,44.280864,0.201455,8.309203,NaN,6.740281,NaN,0.877960,NaN,3.020887
NOTA,NaN,1.061204,12.685435,0.051485,NaN,3.844332,8.645440,12.132362,1.353138,2.863587,35.310377,13.594657,3.676105,20.552066,1.116006,4.502676,1.570309,NaN
Others,13.661335,21.212705,34.866218,0.684568,1.505864,1.389539,5.333891,5.101976,2.481377,4.017150,9.419087,8.236678,2.715087,38.194805,1.754671,3.800565,2.504778,NaN
RJD,5.515847,24.149369,32.285093,NaN,0.960400,67.072640,28.661774,55.385673,9.226178,35.399702,25.113668,14.999222,14.179660,1016.975742,0.085758,10.752145,21.523115,13.161145
RLSP,NaN,NaN,23.376575,NaN,NaN,NaN,3.269255,NaN,NaN,NaN,1.097574,NaN,0.499403,14.951502,1.955662,23.505807,3.524302,8.258391
VIP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.333505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.372959

Create a dataframe by performing a group by over age_group and calculate the count of
total samples under each age_group.

In [17]:
df_grp1 = pd.DataFrame(survey)

In [35]:
a1 = df_grp1.groupby('age_group').aggregate('size')
a1

age_group
18-25    2692
25-40    3423
40-55     644
55+       108
dtype: int64

Create a dataframe by performing a group by over age_group and finding the count of
total samples for each age_group that opted for the JD(U) party in Vote_Now.

In [19]:
df_grp2 = pd.DataFrame(survey)

In [36]:
a2 = df_grp2.where(survey['Vote_Now'] == 'JD(U)').groupby('age_group').aggregate('size')
a2

age_group
18-25    216
25-40    245
40-55     55
55+       10
dtype: int64

Join/Merge the two dataframes from questions 12 and 11 with the common column as

In [37]:
merged = pd.concat([a1, a2], axis =1)

In [38]:
merged

              0    1
age_group
18-25      2692  216
25-40      3423  245
40-55       644   55
55+         108   10